<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeoCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>032C014E1E3FA9C7003CE716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032C01621E3FA9C8003CE716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032C016D1E3FA9C8003CE716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
